infra/n8n/workflows/credit-card-ingest.json
{
  "name": "credit-card-ingest",
  "nodes": [
    {
      "id": "drive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        120
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "fileCreated",
        "folderToWatch": "={{$env.DRIVE_FOLDER_ID}}"
      }
    },
    {
      "id": "resolve-statement-routing",
      "name": "Resolve Statement Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const providerFileName = String($json.name || '').trim();\nconst providerFileId = String($json.id || '').trim();\nconst defaultHouseholdId = String($env.STATEMENT_HOUSEHOLD_ID || '').trim();\nconst routingRules = JSON.parse($env.STATEMENT_FILE_ROUTING_JSON || '[]');\n\nif (!providerFileName) {\n  throw new Error('Drive trigger payload is missing the file name.');\n}\n\nif (!providerFileId) {\n  throw new Error('Drive trigger payload is missing the file id.');\n}\n\nif (!Array.isArray(routingRules) || routingRules.length === 0) {\n  throw new Error('STATEMENT_FILE_ROUTING_JSON must define at least one routing rule.');\n}\n\nconst matchedRule = routingRules.find((rule) => {\n  const pattern = String(rule?.fileNamePattern || '').trim();\n\n  if (!pattern) {\n    return false;\n  }\n\n  return new RegExp(pattern, 'i').test(providerFileName);\n});\n\nif (!matchedRule) {\n  throw new Error(`No statement routing rule matched ${providerFileName}.`);\n}\n\nconst householdId = String(matchedRule.householdId || defaultHouseholdId || '').trim();\nconst parserProfileName = String(matchedRule.parserProfileName || '').trim();\n\nif (!householdId) {\n  throw new Error(`No household id is configured for ${providerFileName}.`);\n}\n\nif (!parserProfileName) {\n  throw new Error(`No parser profile is configured for ${providerFileName}.`);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    bankName: matchedRule.bankName || null,\n    cardName: matchedRule.cardName || null,\n    householdId,\n    parserProfileName,\n    providerFileId,\n    providerFileName,\n    statementPasswordKey: matchedRule.statementPasswordKey || null,\n  },\n}];"
      }
    },
    {
      "id": "download-pdf",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -170,
        120
      ],
      "parameters": {
        "operation": "download",
        "fileId": "={{$json.providerFileId}}"
      }
    },
    {
      "id": "extract-text",
      "name": "Extract Statement Text",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        80,
        120
      ],
      "parameters": {
        "command": "={{`${$env.PDF_TEXT_EXTRACT_COMMAND} --password-key '${($json.statementPasswordKey || '').replace(/'/g, \"'\\\\''\")}'`}}",
        "input": "={{$binary.data.data}}"
      }
    },
    {
      "id": "call-parser",
      "name": "Call statement-parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        350,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.STATEMENT_PARSE_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-statement-pipeline-secret",
              "value": "={{$env.STATEMENT_PIPELINE_SHARED_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { statement: { householdId: $json.householdId, providerFileId: $json.providerFileId, providerFileName: $json.providerFileName, parserProfileName: $json.parserProfileName, bankName: $json.bankName, cardName: $json.cardName }, document: { extractedText: $json.stdout } } }}"
      }
    },
    {
      "id": "call-ingest",
      "name": "Retry Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.STATEMENT_INGEST_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-statement-pipeline-secret",
              "value": "={{$env.STATEMENT_PIPELINE_SHARED_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ...$json.data, statement: { ...$json.data.statement, statementPasswordKey: $item(0).$node[\"Resolve Statement Routing\"].json.statementPasswordKey } } }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      }
    },
    {
      "id": "handle-failure",
      "name": "Handle Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        240
      ],
      "notesInFlow": true,
      "notes": "On parser or ingest failure, keep the execution visible and route to the operator alert path."
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Resolve Statement Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Statement Routing": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract Statement Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Statement Text": {
      "main": [
        [
          {
            "node": "Call statement-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call statement-parse": {
      "main": [
        [
          {
            "node": "Retry Ingest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Ingest": {
      "main": [
        [],
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
